 label{
    color: var(--color-gray-100)
  }


/* for small and mobile screen form */

@media (max-width: 1024px) {
  form {
    width: 90vw;
    padding: 10px;
    margin: 10vh 5vw;
    border-radius: 10px;
    background-color: var(--color-gray-600);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-group {
    width: auto;
    height: auto;
    position: relative;
  }

  label{
    color: var(--color-gray-100)
  }
}