.search-container {
  width: 50vw;
  margin: 0 25vw;
  display: flex;
  position: absolute;
  top:0;
  justify-content: center;
  align-items: center;
  /* z-index: 999; */
}
.input {
  width: 40vw;
  height: 50px;
  margin: 20vh 30vw;
  border-radius: 5px;
  text-align: center;
  color: var(--color-gray-400);
}

.search-icon{
    width: 50px;
    height: 50px;
    color: var(--color-gray-100);
    position: fixed;
    right: 1rem;
    top: 1.5rem;
    z-index: 999;
}

.hide-form{
    display: none;
}

.show-form{
    display: block;
    z-index: 999;
}

.input::placeholder {
  color: var(--color-gray-600);
}

select {
  width: 20%;
  height: 50px;
  text-align: center;
  margin: 5px;
  border: 2px solid var(--color-gray-600);
  border-radius: 10px;
}

@media (max-width : 1024px) {
  .search-container {
    width: 90vw;
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input {
    width: 100%;
    zoom: normal;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    color: var(--color-gray-400);
  }
  .cat-item {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 5px;
  }

  .input::placeholder {
    color: var(--color-gray-600);
  }

  select {
    width: 30%;
    height: 50px;
    text-align: center;
    margin: 5px;
    border: 2px solid var(--color-gray-600);
    border-radius: 10px;
  }

  .search-icon {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    color: var(--color-gray-100);
    display: absolute;
  }
}
